* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.done {
  text-decoration: line-through;
  opacity: 0.4;
}
/* 
footer {
  margin-top: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 8vh;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: medium;
} */
.kursor {
  cursor: pointer;
}

.jumbotron {
  background-color: black;
  height: 175px;
}
.jumbotron h2 {
  font-weight: bold;
  color: white;
}
.jumbotron .create {
  font-style: italic;
  margin-top: -10px;
}

#date {
  color: silver;
  font-weight: bold;
}
#time {
  color: silver;
  font-weight: bold;
}

/* .card {
  margin-bottom: 40px;
} */
