/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Texturina:wght@100&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.done {
  text-decoration: line-through;
  opacity: 0.4;
}

.logo span {
  color: #008cba;
}

.btn {
  color: white;
  background-color: #008cba;
}

.kursor {
  cursor: pointer;
}

.jumbotron {
  background-color: black;
}
.jumbotron h2 {
  font-weight: bold;
  color: white;
  font-size: 30px;
}
.jumbotron .create {
  margin-top: -10px;
}

#date {
  color: silver;
  font-family: "Texturina", serif;
  font-weight: 600;
  font-size: 12px;
}
#time {
  color: silver;
  font-family: "Texturina", serif;
  font-weight: 600;
  font-size: 12px;
}
